@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.card{
    width: 256px;
    min-height: 400px;
    background-color: #3F3D40;
    color: #A68A56;
    border: 1px solid #BF9460;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.card h1{
    color:#D9BC66;
    font-size: 1.2rem;
    text-align: center;
}
.card:hover{
    border: 1px solid #BF9460
}