@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.card{
    width: 256px;
    min-height: 400px;
    background-color: #3F3D40;
    color: #A68A56;
    border: 1px solid #BF9460;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.4rem;
    text-align: center;
}
.card h1{
    color:#D9BC66;
    font-size: 1.6rem;
    text-align: center;
}
.card div p{
    color:#D9BC66;
}
.card:hover{
    border: 1px solid #BF9460
}
#trashDelete:hover{
    color: red;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.disappear{
    animation: disappear 0.7s ease-out forwards;
}
@keyframes disappear{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.0;
    }


}